<html>
    <head>
        <meta charset = "UTF-8">
        <title>Mercado Liebre</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
    <!-- HEADER -->
        <div class="header">
            <img width=960px src="/images/logo-mercado-liebre.svg" alt = " Logo Mercado Liebre">
            <p>Lugar para poner barra de búsqueda</p>
            <!--
            <form action="meli.ejs" method="get">
                <p><label for="busqueda">Buscar productos,marcas y más></label></p>
                <p><input type="text" id="busqueda" name="busqueda"></p>
            </form>
            -->
            <p><i class="fas fa-user-check"></i>Comprá en cuotas y sin tarjeta de crédito</p><br>
            <ul>
                <li type=none><a href =""; style=color:#03264C;text-decoration:none>Ofertas</a></li>
                <li type=none><a href =""; style=color:#03264C;text-decoration:none>Tiendas Oficiales</a></li>
                <li type=none><a href =""; style=color:#03264C;text-decoration:none>Vender</a></li>
                <li type=none><a href =""; style=color:#03264C;text-decoration:none>Ayuda</a></li>
            </ul><br>
            <ul>
                <li type=none><a href ="/registro"; style=color:#03264C;text-decoration:none>Creá tu cuenta </a><i class="far fa-address-card"></i></li>
                <li type=none><a href ="/ingreso"; style=color:#03264C;text-decoration:none>Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                <li type=none><a href =""; style=color:#03264C;text-decoration:none>Mis Compras </a><i class="fas fa-shopping-basket"></i></li>   
            </ul>
        </div>    
    <!--BANNER-->
        <div class="banner">
            <img src ="/images/img-home-banner.jpg" width=960px alt = "banner"> 
        </div>
        <!--ULTIMAS BUSQUEDAS-->
        <h2>Basado en tus últimas visita</h2>
        <ul>
            <div>
                <li type = "none">
                    <img src ="/images/img-cafetera-moulinex.jpg" alt = "cafetera">
                    <p><i class="fas fa-truck"></i></p>
                    <p class="precio">$6.770</p>
                    <P class="descuento">40% OFF</P>
                    <p class="descrip">Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</p>
                </li>
            </div>
            <div class="product">        
                <li type = "none">
                    <img src ="/images/img-macbook-pro-2019.jpg" alt = "laptop">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$230.000</p>
                    <P class="descuento">20% OFF</P>
                    <p class="descrip">Macbook Pro 2019 Lorem ipsum, dolor sit amet.</p>
                </li>
            </div>
            <div class="product">      
                <li type = "none">
                    <img src ="/images/img-samsung-galaxy-s10.jpg" alt = "telefono celular">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">15% OFF</p>
                    <p class="descrip">Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</p>
                </li>
            </div>
            <div class="product">     
                <li type = "none">
                    <img src ="/images/img-tv-samsung-smart.jpg" alt = "televisor">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$34.000</p>
                    <p class="descuento">5% OFF</p>
                    <p class="descrip">SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</p>
                </li>        
            </div>
        </ul>
        
    <!--OFERTAS-->
        <h2>Ofertas</h2>
        <ul>
                <li type = "none">
                    <img src ="/images/img-cafetera-moulinex.jpg" alt = "cafetera">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="descrip">Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</p>
                </li>
            <div class="product">
                <li type = "none">
                    <img src ="/images/img-macbook-pro-2019.jpg" alt = "laptop">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <p class="descrip">Macbook Pro 2019 Lorem ipsum, dolor sit amet.</p>
                </li>
            </div>
            <div class="product">      
                <li type = "none">
                    <img src ="/images/img-samsung-galaxy-s10.jpg" alt = "telefono celular">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">15% OFF</p>
                    <p class="descrip">Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</p>
                </li>
            </div>
            <div class="product">     
                <li type = "none">
                    <img src ="/images/img-tv-samsung-smart.jpg" alt = "televisor">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$34.000</p>
                    <p class="descuento">5% OFF</p>
                    <p class="descrip">SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</p>
                </li>
            </div>      
        </ul>
    <!--FOOTER-->      
        <footer>
        <i class="fas fa-credit-card"></i>    
        <h3>Pagá con tarjeta o efectivo</h3>
        <p class="parrafogral">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
                pago. ¡Y siempre es seguro!</p>
        <i class="fas fa-gift"></i>
        <h3>Envío gratis desde los $ 2.500</h3>
        <p class="parrafogral">Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                productos. Es un beneficio de MercadoPuntos.</p>
        <i class="fas fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3> 
        <p class="parrafogral">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
                porque estás siempre prtegid@.</p>
        <p class="parrafogral">Copyright © 1999-2019 MercadoLiebre S.R.L.</p>           
        </footer>    

    </body> 

</html>


