<html>
    <head>
        <meta charset = "UTF-8">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
        <title>Registro</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    </head>
    <body>
        <div class="header">
            <img width=960px src="/images/logo-mercado-liebre.svg" alt = " Logo Mercado Liebre">
            <p>Lugar para poner barra de búsqueda</p>
            <p><i class="fas fa-user-check"></i>  Comprá en cuotas y sin tarjeta de crédito</p><br>
            <ul>
                <li type=none><a href =""; style=color:#03264C;text-decoration:none>Ofertas</a></li>
                <li type=none><a href =""; style=color:#03264C;text-decoration:none>Tiendas Oficiales</a></li>
                <li type=none><a href =""; style=color:#03264C;text-decoration:none>Vender</a></li>
                <li type=none><a href =""; style=color:#03264C;text-decoration:none>Ayuda</a></li>
            </ul><br>
            <ul>
                <li type=none><a href ="/registro"; style=color:#03264C;text-decoration:none>Creá tu cuenta </a><i class="far fa-address-card"></i></li>
                <li type=none><a href ="/ingreso"; style=color:#03264C;text-decoration:none>Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                <li type=none><a href =""; style=color:#03264C;text-decoration:none>Mis Compras </a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </div> 
        
        <form action="#" meyhod="get">
                <p><label for=name></label></p>
                <p><input type="text" id="name" name="name" placeholder="Nombre y Apellido"></p>
                <p><label for=nick></label></p>
                <p><input type="text" id="nick" name="nick" placeholder="Nombre de Usuario"></p>
                <p><label for=email></label></p>
                <p><input type="text" id="email" name="email" placeholder="E-mail"></p>
                <p>Fecha de Nacimiento</p>
                <p><label for=cumple></label></p>
                <p><input type="date" id="cumple" name="cumple"></p> 
                <p><label for=casa></label></p>
                <p><input type="text" id="casa" name="casa" placeholder="Domicilio"></p>
                <p>Perfil del Usuario</p>
                <p><label for="" ></label></p>
                <p><input type="radio" name="comven" value="comprador">Comprador</p>
                <p><input type="radio" name="comven" value="vendedor">Vendedor</p>
                <p>Intereses</p>
                <p><label for="" ></label></p>
                <p><input type="checkbox" name="intereses" value="electro">Electro</p>
                <p><input type="checkbox" name="intereses" value="moda">Moda</p>
                <p><input type="checkbox" name="intereses" value="hogar">Hogar</p>
                <p><input type="checkbox" name="intereses" value="juguete">Juguetería</p>
                <p><input type="checkbox" name="intereses" value="vidasana">Vida sana</p>
                <p>Elegí tu foto de usuario</p>
                <p><input type="file" name="foto" id=""></p>
                <p><lable for="contraseña1"></lable></p>
                <p><input type="password" id="contraseña1" name="contraseña1" placeholder="Elegí tu contraseña"></p>
                <p><lable for="contraseña2"></lable></p>
                <p><input type="password" id="contraseña2" name="contraseña2" placeholder="Confirmá tu contraseña"></p>
                <p><button type="submit">Enviar</button></p>
                <p><button type="reset">Borrar</button></p>
                                
        
            </form>
       

        
        <!--FOOTER-->      
        <footer>
            <i class="fas fa-credit-card"></i>    
            <h3>Pagá con tarjeta o efectivo</h3>
            <p class="parrafogral">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
                    pago. ¡Y siempre es seguro!</p>
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde los $ 2.500</h3>
            <p class="parrafogral">Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                    productos. Es un beneficio de MercadoPuntos.</p>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3> 
            <p class="parrafogral">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
                    porque estás siempre prtegid@.</p>
            <p class="parrafogral">Copyright © 1999-2019 MercadoLiebre S.R.L.</p>           
        </footer>    
    
    </body>
</html>

